/.bundle/
/.env
/.env.*
/.idea/
/.vscode/
/config/master.key
/config/credentials/*.key
/log/*
!/log/.keep
/storage/*
!/storage/.keep
/tmp/*
!/tmp/.keep
/public/assets/
/public/packs/
/vendor/map_indexer/node_modules/
/vendor/zim_tools/
/node_modules/
*.sqlite3
*.sqlite3-*
*.pid
*.part
*.zim
*.pmtiles
.DS_Store
Thumbs.db
